allure-pytest==2.16.0
email_validator==2.3.0
playwright==1.59.0
pydantic==2.13.4
pydantic-settings==2.14.1
pytest==9.0.3
pytest-playwright==0.8.0
pytest-rerunfailures==16.2
pytest-xdist==3.8.0
ui-coverage-tool==0.33.0